   @import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light:regular);

   header {
       color: white;
   }

   .carousel-item {
       height: 100vh;
       min-height: 350px;
       background: no-repeat center center scroll;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;

   }

   .main {
       font-family: 'Shadows Into Light', cursive;

       span {
           font-weight: 800;
       }
   }